Kvsqlite==0.2.1
motor==3.2.0
psutil==5.9.5
pyromod==2.0.0
pyrogram==2.0.106
python-dotenv==1.0.0
telethot
tgcrypto
aiohttp
aiohttp-retry
aiosignal
async-timeout
attrs
b
beautifulsoup
blinker
bs4
certifi
chardet
charset-normalizer
click
colorama
Flask
fore
frozenlist
futures
html5lib
idna
itsdangerous
Jinja
markdown-it-py
MarkupSafe
mdurl0
mechanize
multidict
names
phonenumbers
Pygments
PyJWT
pyTelegramBotAPI
pytz
random-address
requests
rich
six
soupsieve
telebot
twilio
urllib
uuid
webencodings
Werkzeug
yarl
python-telegram-bot
requests
beautifulsoup4
